<h2>About Me</h2>
<p>This wiki was created by Stuart Melville </p>
<p>Student ID: 51663397</p>
<p>I am currently studying for a Masters degree in IT at the University of Aberdeen. I have included a map of the area in case you wanted to come visit me! :)</p>

<iframe width="1200" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=aberdeen+university&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="code-for-google-map" rel="nofollow" href="https://www.interserver-coupons.com" id="get-data-for-embed-map">StuartMelville</a><style>#gmap-canvas img{max-width:none!important;background:none!important;}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=8db51176-e54b-37b1-99aa-0676c2c0fbfe&c=code-for-google-map&u=1476371447" allowfullscreen></iframe>
