<h2>Strategy</h2>
<h3>Freeze Mage</h3>
<p>As a Freeze Mage your game plan revolves around stalling your opponent's board development with big board clears, while at the same time using your card-drawing skills and minions to fatten up your hand with your core win-conditions. Combos like Frost Nova/Blizzard and Doomsayer allow you to - typically - wipe whatever's out on the board, and frustrate the opponent's progress. If the game gets away from you, you have a pair of Ice Blocks which need to be played proactively in a post-Mad Scientist game.

As for the win-conditions we've mentioned, your goal has been simplified somewhat with the release of the Old Gods. Alexstrasza is used to bring your opponent straight down to 15 Health, a move you would then follow up with game-ending spells and spell combos - Frostbolt and Ice Lance, for example, with a Fireball thrown in. Emperor Thaurissan's cost-reduction effect is more important than ever, so don't play him until you have a good collection of spells in-hand.

The route you choose will depend a huge amount on the cards you happen to draw, the opponent you happen to face, and the state of your Mana curve. This is not an easy deck to play at all, and learning how to navigate safely towards your win-condition is something that only experience can really teach you.</p>
