<h2>Hearthstone Cinematic</h2>
<p>Check out the Hearthstone CGI trailer below!</p>

<iframe width="1280" height="720" src="https://www.youtube.com/embed/QdXl3QtutQI" frameborder="0" allowfullscreen></iframe>">
